
html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body, html, h1, h2, h3, h4, h5, h6, p {
    margin:0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}

#loadImg {
    background-color:white;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: 5;
}

a {
    text-decoration: none;
}

#measurers img {
    position: fixed;
    z-index: 3;
    top: 0;
    height: 100%;
    width: 1rem;
    height: 200vh;
    object-fit: cover;
    filter: brightness(1);
    transition: filter 0.4s cubic-bezier(0, 0, 0.2, 1);
}

#measurers img:first-child {
    left: 0;
    animation: measurers_right_anim 15s ease-in-out infinite;
}

#measurers img:last-child {
    right:0;
    animation-direction: reverse;
    animation: measurers_right_anim 10s ease-in-out infinite;
}

@keyframes measurers_right_anim {
    0% {
        transform: translateY(-35%);
    }
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-0%);
    }
    75% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(-35%);
    }
}

header {
    width: 100%;
    background: white;
    position: relative;
    text-align: center;
    padding-bottom: 2rem;
}

#h1_pusher {
    height: 44vw;
    max-height: 17rem;
}

#blue_bordertop {
    width: 100%;
    height: 0.6rem;
    max-height: 25vw;
    background: #4e4cff;
    position: absolute;
}

#photo_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: calc(100vw/3);
    max-width: 13rem;
    height: 40vw;
    max-height: 16rem;
    background: #4e4cff;
    margin: 0 auto;
    border-radius: 0 0 30rem 30rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#photo_container::before, #photo_container::after {
    content: '';
    position: absolute;
    top: 0.58rem;
    width: 10vw;
    height: 10vw;
    background-image: url(assets/header_corner_left.svg);
}

#photo_container::before {
    left: 0;
    transform: translateX(-98%);
}

#photo_container::after {
    transform: translateX(98%) rotate(-90deg);
    right: 0;
}


#photo_container img {
    width: 89%;
    object-fit: contain;
    margin-bottom: 6%;
}

#photo_container > div {
    background: white;
    width: calc(100vw/3);
    height: 5.5rem;
    position: absolute;
    top: 0.6rem;
}

#left_radius {
    left: 0;
    transform: translateX(-100%);
    border-radius: 0 3rem 0 0;
}

#right_radius {
    right:0;
    transform: translateX(100%);
    border-radius: 3rem 0 0 0;
}

#fixed_contacts {
    position: fixed;
    bottom: 0;
    z-index: 5;
}

#contact_container {
    position: absolute;
    transform: scale(0);
    width: 3.5rem;
    height: 3.5rem;
    left: 7vw;
    bottom: 3rem;
    /* top: calc(100vh - 6.5rem); */
    z-index: 3;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

#contact_container svg {
    width: 100%;
    height: 100%;
}

#contact_bts > * {
    position: absolute;
    z-index: 3;
    /* top: 2rem; */
    bottom: calc(100vh + -4rem);
    height: 8vw;
    max-height: 3rem;
    width: 8vw;
    max-width: 3rem;
    transform: translate(0, 0);
    transition: transform 0.5s cubic-bezier(0.6, 0, 0.2, 1);
}

.iconBg, .iconBody {
    transition: fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.iconBg{fill:#FFFFFF;}
.iconBody{fill:#4E4CFF;}

#contact_bts svg {
 width:100%;
 height:100%;
}

#contact_bts span {
    left:7vw;
}

#contact_bts a:nth-child(2) {
    left:19vw;
    transition-delay: 0.05s;
}

#contact_bts a:nth-child(3) {
    transition-delay: 0.1s;
    left:72vw;
}

#contact_bts a:nth-child(4) {
    transition-delay: 0.15s;
    left:84vw;
}

h1 {
    color: #4d4d4d;
    position: relative;
    /* padding-top: 42vw; */
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.5rem;
}

h1 > div {
    font-size: 2rem;
}

#age {
    display: inline;
}

h1 strong {
    font-weight: 400;
    display: block;
}

h1 span {
    font-size: 1.3rem;
    font-weight: 400;
    display: block;
    line-height: 3rem;
}

header b {
    font-weight: 400;
    color: #999999;
}

header h2 {
    font-weight: 400;
    color: #4d4d4d;
    padding: 0 4rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.8rem;
}

header a {
    color:#4e4cff;
}

#see_my_work {
    font-size: 1.6rem;
    line-height: 5rem;
}

.body_h2 {
    font-size: 2rem;
    color:#999;
    font-weight: 300;
    margin: 3rem 0 2rem 0;
    text-align: center;
}

#whatIWork {
    width: 80%;
    max-width: 22rem;
    margin: 0 auto 22rem auto;
    text-align: center;
}

#whatIWork svg {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.3rem;
}

#whatIWork span {
    margin: 2.5rem auto;
    width: 62%;
    display: block;
    border-bottom: 0.1rem solid #DDD;
}

#whatIWork div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.4rem;
}

#whatIWork h3 {
    font-size: 1.9rem;
    font-weight: 300;
    color: #666666;
    line-height: 2.2rem;
    margin-bottom: 0.3rem;
}

#whatIWork h4 {
    font-size: 1.6rem;
    font-weight: 300;
    color: #999999;
}

#pre_timeline, #pos_timeline {
    position: absolute;
    width: 100%;
    height: 7vw;
    display: block;
}

#pre_timeline svg, #pos_timeline svg {
    width: 100%;
}


#pre_timeline {
    top: 0;
    transform: translateY(-70%);
}

#pos_timeline {
    bottom: 0;
    transform: translateY(70%);
}

#timeline {
    background-color: #4e4cff;
    position: relative;
    margin: 0 0 6rem 0;
    padding: 3rem 0 3rem 0;
    z-index: 2;
    will-change: transform;
    box-shadow: 0 0 6rem 0rem #06F;
}

#timeline h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: white;
}

#timeline_line {
    width: 0.3rem;
    position: absolute;
    left: 12vw;
    top: 4rem;
    -webkit-mask-image: linear-gradient(180deg, transparent, white 5%, white 95%, transparent);
    height: calc(100% - 13rem);
}

#timeline_events {
    position: relative;
    width: 77vw;
    margin: 0 0 0 auto;
}

#timeline_events div {
    margin-top: 2rem;
    margin-right: 10vw;
    color: white;
}

#timeline_events h5 {
    font-weight: 200;
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
}

#timeline_events p {
    font-size: 1.1rem;
    font-weight: 500;
    color: #236;
    letter-spacing: 0.03rem;
    line-height: 1.2rem;
}

#timeline_events h6 {
    color: white;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.05rem;
}

#timeline_events div h5::before {
    content:'';
    position: absolute;
    left: -26vw;
    transform: translate(calc(15vw - 40%), 0.5rem);
    width: 0.8rem;
    height: 0.8rem;
    background: #4e4cff;
    border: 0.2rem solid white;
    border-radius: 50%;
}

#skills_container {
    transform:translateY(calc(-82rem + 78vw));
    max-height: 105rem;
}

#skills_container h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: #4e4cff;
    margin-bottom: 2rem;
}

#skills {
    display:grid;
    width: 70%;
    margin: 0 auto;
}

#skills > div {
    background: white;
    margin-bottom: 2rem;
    border-top: 0.2rem solid #4e4cff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#skills div div {
    margin: 1.6rem 0;
}

#skills div h4 {
    font-size: 2rem;
    font-weight: 300;
    color: #666666;
    margin-bottom: 0.4rem;
    line-height: 2rem;
}

#skills div span {
    color: #cccccc;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

#form_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4e4cff;
    z-index: 5;
    padding: 2rem 2rem 0 2rem;
    transform: translateY(-150%);
    /* transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1); */
}

#form_container span {
    text-align: center;
    display: block;
    color: white;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}

form {

}

label {
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

input:not(#send_bt) {

}

textarea {
    min-height: 7rem;
}

input {
} input:focus, textarea:focus {
    outline:none;
}

input, textarea {
    background: #eee;
    border: #CCC;
    margin-top: 0.3rem;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    padding: 0.4rem 0 0.1rem 0.8rem;
}

#send_bt {
    right: 2rem;
    color: #4e4cff;
    background-image: url(assets/send_bt.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%;
    transform: translatex(6rem);
}

#send_bt, #close_form {
    position: absolute;
    bottom: -6rem;
    width: 4rem;
    height: 4rem;
    border-radius: 130%;
    background-color: #4e4cff;
    border: 0.3rem solid white;
    opacity: 0;
    transition: opacity 0.4s linear, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#close_form {
    left: 2rem;
    padding: 0.8rem;
    box-sizing: border-box;
    transform: translatex(-6rem);
}

#pos_form {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(90%);
    bottom: 0;
}


#about {
    height: 30rem;
    background-color: #eee;
    width: 100%;
    text-align: center;
    padding: 4rem 3rem 0 3rem;
    box-sizing: border-box;
    color: #888;
}

#about h6 {
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
    color: #666;
}

#about p {
    font-size: 1.2rem;
    margin: 1.2rem 0;
    color: #888;
}

#about span {

}


























/* Tablet Landscape */

@media (min-width:100vh) and (min-height:50vw) {

}


/* Tablet Portrait */

@media (min-width:50vh) and (min-height:200vw) {

}























@media (min-width:600px) {

    #whatIWork {
        margin: 0 auto 14rem auto;
        max-width: unset;
        width: 53%;
    }

    /* #whatIWork > div {
        display: flex;
        align-items: center;
    } */

    #photo_container {
        margin: 0 auto 0 calc(35vw - 12rem);
        width: 10rem;
        max-height: unset;
        max-width: unset;
        height: 14rem;
    }

    header h2 {
        margin-right: 19vw;
    }

    #photo_container > div {
        width: 74.8vw;
    }

    h1, header h2, #see_my_work {
        text-align: left;
        padding: 0;
        margin-left: calc(35vw + 1rem);
    }

    #see_my_work {
        display: block;
        line-height: 7rem;
        font-size: 1.4rem;
    }

    #h1_pusher {
        height: 3rem;
    }

    #contact_bts > * {
        top: 3.5vw;
        height: 4vw;
        width: 4vw;
    }
    

    #contact_bts span {
        left:74vw;
    }

    #contact_bts a:nth-child(2) {
        left: 80vw;
    }

    #contact_bts a:nth-child(3) {
        left: 86vw;
    }

    #contact_bts a:nth-child(4) {
        left: 92vw;
    }

    #skills {
        display: grid;
        width: 70%;
        margin: 0 auto;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }
}










@media (min-width:750px) {
    
    #whatIWork {
        width: 90%;
    }

    #whatIWork div {
        width: 12rem;
        text-align: center;
        display: block;
    }

    #whatIWork div div {
        display: block;
    }

    #whatIWork article {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #whatIWork span {
        width: 0;
        height: 10rem;
        border-right: 0.2rem solid #E9E9E9;
        margin: 0 2rem;
    }

    #whatIWork h3 {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    #whatIWork h4 {
        font-size: 1.3rem;    
    }

    #contact_bts > * {
        top: 2.5vw;
    }
}












/* REM adjusts */


/* @media (min-width:1000px) {
    html {
        font-size: 17px;
    }
}
@media (min-width: 1300px) {
    html {
        font-size: 19px;
    }
} */

@media (min-width: 150vh) and (min-height:600px) {
    html {
        font-size: 15px;
    }
}












@media (min-width:700px) and (max-height:1400px) {
    #whatIWork {
        margin:0 auto 7rem auto;
    }
}

@media (min-width:750px) and (max-height: 450px) {
    #whatIWork {
        margin: 0 auto 11rem auto;
    }
}

@media (max-width:750px) and (max-height: 450px) {
    #whatIWork {
        margin: 0 auto 45vw auto;
    }
}